parameters:
  level: 9
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Cannot cast mixed to string.#'
    - '#Cannot cast mixed to float.#'
rules:
  - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
includes:
  - vendor/phpstan/phpstan-mockery/extension.neon